page-home {
    
    .menu-button {
        width: 5%;
        // border-radius: 30px;
        font-size: 0.9em;
        // border: 1px solid #fff;
        background-color: #111111;
      
        
      }
      .center-text{
          
          font-size: 20px;
        
      }
}
